/* ID */
#screen {
    position: relative;
    width: 700px;
    height: 650px;
    overflow: hidden;
}


#language-container {
    width: 70px;
    height: 50px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    padding-top: 20px;
}
#language-container img {
    width: 70px;
    height: 50px;
    z-index: 3;
}


#scene {
    width: 700px;
    height: 650px;
    text-align: center;
    background-color: rgb(157, 157, 168);
}
#question {
    font-size: 35px;
    background-color: rgb(255, 255, 255);
}
#text-container, #question-container {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50px;
    z-index: 1;
    font-size: 10px; /*DisplayScene() modifies this*/
    margin-top: 50px;
}
#image-container {
    width: 700px;
    height: 650px;
    z-index: 0;
}
#animal-image {
    width: 700px;
    height: 650px;
}
#image-credit {
    z-index: 4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    font-size: medium;
}


#control-container,
#end-container, #option-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
#restart-btn {
    font-size: 35px;
}
#instruction-container {
    position: absolute;
    bottom: 0;
    opacity: 0;
    background-color: white;
}
#instruction-container:hover {
    opacity: 100;
}



/* CLASS */
.buttons {
    width: 296px;
    height: 88px;
    background-image: linear-gradient(to right, rgb(57, 92, 0), rgb(26, 192, 40));
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
    position: relative;
    bottom: 25px;
    z-index: 2;
    vertical-align: middle;
}
.optionButtons {
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to right, rgb(61, 63, 63), rgb(25, 176, 223));
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
    position: relative;
    bottom: 25px;
    z-index: 2;
    vertical-align: middle;
}



/* GLOBAL */
body,  html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}
