#container {
    text-align: center;
    margin-bottom: 20px;
    background-color: blue;
}
#animal-image {
    text-align: center;
    width: 200px;
    height: 200px;
}
#control-container{
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;

    text-align: center;
    background-color: red;
}
#next-btn {
    background-image: url("Materials/Napit/Seuraava.png");
    margin-left: 50px;
}
#prev-btn {
    background-image: url("Materials/Napit/Edellinen.jpg");
    margin-right: 50px;
}

.buttons {
    width: 296px;
    height: 88px;
}

html, body {
    padding: 0;
    margin: 0;
}